<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Proflie">
  <meta name="author" content="Zhengyu Zhou Timmy">
  <title>Carousel Template for Bootstrap</title>
</head>


<body id="z-body-bg">
  
  <app-header></app-header>
  <app-indexview></app-indexview>

  this is APP view

  <img src="/src/assets/images/introduce-icon.jpg" alt="Mountain View" width="500" height="377">

 
</body>



</html>