/* You can add global styles to this file, and also import other style files */
@import url('https://getbootstrap.com/docs/4.0/examples/carousel/carousel.css');

.z-body-bg{
    background-color: honeydew;
}
.z-navbar-name{
    margin-left:50px;
} 

.z-nav-bg{
    background-color: skyblue;
}

.margin-top-8precent{
    margin-top: 8%;
}



